<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <div class="container mt-5">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="formulario.id" class="form-control" id="floatingInput" placeholder="id">
          <label for="floatingInput">id</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="formulario.nombre" class="form-control" id="floatingInput" placeholder="nombre">
          <label for="floatingInput">nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="formulario.precio" class="form-control" id="floatingInput" placeholder="precio">
          <label for="floatingInput">precio</label>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto">
          <button class="btn btn-outline-dark" (click)="agregar()">Agregar</button>
          <button class="btn btn-outline-warning" (click)="editar()">Editar</button>
          <button class="btn btn-outline-primary" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <table class="table text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Seleccionar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of inventario">
              <td>{{articulo.id}}</td>
              <td>{{articulo.nombre}}</td>
              <td>{{articulo.precio}}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="seleccionar(articulo)">Seleccionar</button>
              </td>
              <td>
                <button class="btn btn-outline-danger" (click)="eliminar(articulo.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>