<div class="row mt-3 mb-3">
    <div class="col">
        <div class="display-1 text-center">{{titulo}}</div>
    </div>
</div>
<div class="row p-5">
    <div class="col d-flex justify-content-center align-items-center">
        <img src="https://cdn0.iconfinder.com/data/icons/designer-skills/128/node-js-512.png" alt="" style="width: 90%;">
    </div>
    <div class="col-8" style="text-align: justify;">
        <p>JavaScript (JS) es un lenguaje de programación utilizado para crear aplicaciones web interactivas y dinámicas.</p>
        <p>JS se ejecuta en el navegador web del usuario y permite la creación de páginas web interactivas que responden a la entrada del usuario y cambian el contenido de la página sin tener que volver a cargarla.</p>
        <p>Se puede manipular el contenido de una página web, crear animaciones, validar formularios y responder a eventos del usuario como hacer clic en un botón o desplazarse por una página.</p>
        <p>JS también es compatible con la creación de objetos, que permiten agrupar datos y comportamientos relacionados en un solo lugar. Los objetos se definen utilizando la sintaxis de notación de objetos, que se compone de propiedades y métodos.</p>
        <p>Es compatible con la creación de eventos, que permiten que una página web responda a la entrada del usuario. Los eventos se pueden utilizar para realizar acciones específicas, como cambiar el contenido de la página o enviar datos a un servidor.</p>
    </div>
</div>