<div class="row mt-3 mb-3">
    <div class="col">
        <div class="display-1 text-center">{{titulo}}</div>
    </div>
</div>
<div class="row p-5">
    <div class="col d-flex justify-content-center align-items-center">
        <img src="https://img.icons8.com/color/512/html-5--v1.png" alt="" style="width: 85%;">
    </div>
    <div class="col-8" style="text-align: justify;">
        <p>Significa "HyperText Markup Language" (Lenguaje de Marcado de Hipertexto). </p>
        <p>Se utiliza para estructurar y dar formato al contenido de una página web, como texto, imágenes, videos, enlaces y otros elementos multimedia. Además, HTML proporciona una forma de etiquetar y describir el contenido de una página, lo que permite a los motores de búsqueda y otros programas procesar la información y mostrarla adecuadamente.</p>
        <p>Es compatible con la creación de formularios, que permiten a los usuarios enviar información a través de una página web. Los formularios pueden incluir campos de texto, botones de opción, casillas de verificación y otros elementos interactivos.</p>
        <p>Los navegadores web interpretan el código HTML y muestran el contenido de la página de forma visual para el usuario.</p>
    </div>
</div>