<div class="row mt-3 mb-3">
    <div class="col">
        <div class="display-1 text-center">{{titulo}}</div>
    </div>
</div>
<div class="row p-5">
    <div class="col-8" style="text-align: justify;">
        <p>CSS (Cascading Style Sheets) es un lenguaje de diseño utilizado para dar estilo y formato a las páginas web.</p>
        <p>Se utiliza para separar la presentación visual del contenido HTML y hacer que la estructura y el estilo de una página sean más fáciles de mantener. Esto se logra mediante la creación de reglas de estilo, que se aplican a los elementos HTML utilizando selectores y propiedades CSS.        </p>
        <p>Además de los selectores y las propiedades, CSS también utiliza valores y unidades para definir el estilo de los elementos HTML</p>  
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png" alt="" style="width: 70%;">
    </div>
</div>